streamlit
langchain
langgraph
langchain_community
langchain-text-splitters
langchain-astradb
langchain-groq
langchain-huggingface
cassio
pypdf
pytesseract
Pillow
wikipedia
cassandra-driver
sentence-transformers
tiktoken

langchain-chroma

